/*Стили ландшафтной ориентации*/
@media (max-height: 600px) and (orientation: landscape), (max-device-height: 600px) and (orientation: landscape) {

    .heading{
        display: block;
        background: #000000; /* Цвет фона под заголовком */
        height: 62px;
        width: 100%;
        position: relative;
        top: 1rem;
        margin: 0;
        padding: 0px;
    }

    .heading h1{
        color: #000000; /* Цвет текста */
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        font-size: 62%;
        position: absolute;
        top: 90%;
        right: 17%;
        margin: 0 -7.35rem 0 0;
        transform: translate(0%, -50%);
    }

    .heading logo{
        color: #FFFFFF; /* Цвет текста */
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        font-size: 38px;
        position: absolute;
        top: 50%;
        right: 17%;
        margin: 0 -80px 0 0;
        transform: translate(0%, -50%);
    }
    .heading img{
        position: absolute;
        height: 58px;
        top: 50%;
        left: 17%;
        margin: 0 0 0 -42px;
        transform: translate(0%, -50%);
    }

    .message {
        display: block;
        background: rgba(0, 0, 0, 0.88);
        color: #FFFFFF; /* Цвет текста */
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 1%;
        right: 1%;
        transform: scale(0.66) translate(0%, -85%)
    }

    .banners{
        display: block;
        position: absolute;
        width: 100%;
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0%)
    }

    .banner{
        /*flex: 1 1 auto;*/
        margin: 0 25px;
    }

    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pricelist{
        /*display: block;*/
        background: #000000; /* Цвет фона под заголовком */
        position: absolute;
        /*top: 80%;*/
        left: 11%;
        margin-left: 0;
        padding: 0 18.5px;
        text-transform: uppercase;
        color: #FFFFFF; /* Цвет текста */
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    }

    .requisites{
        /*display: block;*/
        background: #000000; /* Цвет фона под заголовком */
        position: absolute;
        /*top: 80%;*/
        right: 11%;
        margin-right: 0;
        padding: 0 21px;
        text-transform: uppercase;
        color: #FFFFFF; /* Цвет текста */
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    }

}