/*Стили ландшафтной ориентации*/
@media (max-width: 900px) and (orientation: landscape), (max-device-width: 900px) and (orientation: landscape){



    .message{
        display: block;
        background: rgba(0, 0, 0, 0.88);
        color: #FFFFFF; /* Цвет текста */
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 1%;
        right: 1%;
        /*transform: translate(0%, -50%);*/
        transform: scale(0.66) translate(0%, -75%);
    }

}